csvui/node_modules/** linguist-vendored
node_modules/** linguist-vendored

static/dist/** linguist-vendored


*.py linguist-language=Python
*.jsx linguist-language=JavaScript
*.js linguist-language=JavaScript
